# Data
data/raw/*
!data/raw/README.md

# Models and Reports
models/densenet121/checkpoints/*
models/densenet121/saved/*
reports/densenet121/*

# Keras / TF artifacts
*.keras
*.h5

# Secrets
kaggle.json
.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
